.container.main.mm-background-overlay--active
  .mm-modal-custom
    .mm-modal__title
      %h3.overtime-dismissal__title Dismissal
      = link_to 'Cancel', manager_overtime_approve_index_path,  class: 'btn-icon cancel-icon', data: {"toggle" => "popover", "hint" => "", "content" => "Cancel"}

    = form_tag dismiss_manager_overtime_approve_path(@approve), class: 'overtime-dismissal__form' do
      .overtime__field.space-r-10
        .overtime-comment
          = label_tag 'Comment'
          = text_area_tag :comment, nil, class: 'overtime__textarea mm-modal__textarea'
        .mm-modal__buttons
          = submit_tag "OK",id: 'overtime_dismiss_submit_comment_button', class: 'add-question mm-button mm-button-orange', data: {"toggle" => "popover", "hint" => "", "content" => "Continue"}
