.hr-table-wrap.table-wrap-responsive.general-table
  %table.hr-table.candidate-summary.table-responsive
    %thead.table-inner-responsive
      %tr.hr-table__head-row.hr-table__head-row--height.table-tr-responsive
        %th.mm-th-table-top.hr-table__cell--space-l-10 Name
        %th.mm-th-table-top.date Date
        %th.mm-th-table-top.hours Overtime Hours
        %th.mm-th-table-top.overtime-status Status
        %th.mm-th-table-top.th-comment Comments
        %th.mm-th-table-top.overtime-actions
      %tbody
        -unless @overtimes.nil?
          - master = current_user&.full_name.present? ? "#{current_user.full_name} - " : ''
          = hidden_field_tag :current_user, master
          - @overtimes.each do |overtime|
            = hidden_field_tag :overtime_id, overtime.id
            -if overtime.employee.present? && !overtime.canadian?
              %tr.hr-table__body-row.table-tr-responsive.table-tr-overtime-responsive
                %td.hr-table__cell.hr-table__cell--space-l-10.master-info.table-td-responsive.mm-master-info-container
                  %span.span-responsive
                    Name
                  .mm-master-photo
                    = overtimes_photo_link_access(overtime.employee)
                  .mm-master-info
                    %h5.mm-name.mm-overtime-name
                      = overtimes_name_link_access(overtime.employee)
                    %ul.skills-list.master-skill
                      - overtime.employee.skills.each do |s|
                        %li.mm-size-12.table-text-main-color
                          = s.name
                          %span.table-text-secondary-color
                            = "- #{s.level.present? ? s.level : 'Unknown level'}"
                %td.hr-table__cell.date.table-td-responsive
                  %span.span-responsive Date
                  = overtime.date.strftime('%d-%m-%Y')
                %td.hr-table__cell.hours.table-td-responsive
                  %span.span-responsive Overtime hours
                  = overtime.hours.round(2)
                  %button.btn-icon.icon-more
                  .mm-modal-custom.modal-time-logged.hide
                    .modal-content
                      .mm-modal__title
                        %h3 Time Logged
                        %button.btn-icon.cancel-icon.close-time-logged
                      .modal-logged-body
                        - if overtime.time_logged_on_issues.present?
                          - overtime.time_logged_on_issues.each do |issue, time_logged|
                            - unless issue.blank?
                              .time-logged-block
                                - log = sanitize "#{time_logged.round(2)}h on <b>#{issue.key.blank? ? issue.project&.name : issue.key}</b>"
                                - summary = sanitize "<span>: #{issue.summary}</span></br>" unless issue.summary.blank?
                                = link_to log + summary, overtime.issue_url(issue), target: :_blank, class: "time-logged__link"
                              .comment-time-logged
                                - unless overtime.time_logs.blank?
                                  - overtime.time_logs.each do |time_log|
                                    -if time_log.jira_issue_id.to_i.eql? issue.id
                                      %span
                                        = "#{(time_log.time_spent_seconds/3600.0).round(2)}h"
                                      = ": #{time_log.worklog_comment.present? ? time_log.worklog_comment : 'no comment'}"
                                      %br
                                - else
                                  = "No comment info for timelog"
                            %hr.time-logged-hr-mobile
                        - else
                          .no-data-message
                            = "No timelog info to display"
                          %hr.time-logged__hr
                      .mm-modal__buttons.mm-modal__buttons-logged
                        .mm-button.mm-button-orange.close-time-logged Close
                %td.hr-table__cell.overtime-status.table-td-responsive.table-td-status-responsive
                  %span.span-responsive.overtimes-approve-span-status Status
                  .status-container
                    %span.state{class: overtime.status ? overtime.status : 'pending'}
                      = overtime.current_status
                    - overtime.approves.each do |approve|
                      .manager-container
                        = sanitize "#{approve.manager&.full_name} - #{approve.status}"
                %td.hr-table__cell.status.table-td-responsive.table-td-hide
                  - overtime.approves.each do |approve|
                    .managers-container-responsive
                      %span.span-responsive
                      .manager-container-responsive
                        = sanitize "#{approve.manager&.full_name} - #{approve.status}"
                        = sanitize " - #{approve.comment}" unless approve.comment.blank?
                        - unless overtime.confirmed_by_approver?
                          - if overtime.current_status != 'Pending'
                            - if overtime.current_status == 'Confirmed'
                              = "confirmed by: #{overtime.modifier&.full_name.blank? ? 'HR' : overtime.modifier&.full_name}"
                              = " - #{overtime.hr_approval_comment}" unless overtime.hr_approval_comment.blank?
                            - else
                              = "dismissed by: #{overtime.modifier&.full_name.blank? ? 'HR' : overtime.modifier&.full_name}"
                              = " - #{overtime.hr_approval_comment}" unless overtime.hr_approval_comment.blank?
                %td.hr-table__cell.table-td-responsive
                  %span.span-responsive
                    Comment
                  .manager-container.comment-container
                    - overtime.approves.each do |approve|
                      = sanitize "#{approve.manager&.full_name} - #{approve.comment}" if approve.overtime.confirmed_by_approver? && approve.comment.present?
                    - unless overtime.confirmed_by_approver?
                      - if overtime.current_status != 'Pending'
                        = hidden_field_tag :approval_comment, overtime.hr_approval_comment
                        = hidden_field_tag :pm_overtime_id, overtime.id
                        - if overtime.current_status == 'Confirmed'
                          %span.comment__text
                            = 'confirmed by ' if overtime.hr_approval_comment.blank?
                            = "#{overtime.modifier&.full_name.blank? ? 'HR' : overtime.modifier&.full_name}"
                            = " - #{overtime.hr_approval_comment}" if overtime.hr_approval_comment.present?
                          - unless master_cabinet?
                            %button.btn-icon.edit-icon.edit-comment-btn#edit-comment__btn{data: {"toggle" => "popover", "hint" => "", "content" => "Edit", 'button-edit-comment-overtime'=>"#{overtime.id}"}}
                        - else
                          %span.comment__text
                            = 'dismissed by' if overtime.hr_approval_comment.blank?
                            = "#{overtime.modifier&.full_name.blank? ? 'HR' : overtime.modifier&.full_name}"
                            = " - #{overtime.hr_approval_comment}" if overtime.hr_approval_comment.present?
                          - unless master_cabinet?
                            %button.btn-icon.edit-icon.edit-comment-btn#edit-comment__btn{data: {"toggle" => "popover", "hint" => "", "content" => "Edit", 'button-edit-comment-overtime'=>"#{overtime.id}"}}
                  .mm-modal-custom.hide
                    .modal-content
                      .mm-modal__title
                        %h3 Edit comment
                        %button.edit-btn.btn-cancel-edit{data: {"toggle" => "popover", "hint" => "", "content" => "Cancel"}}
                      .mm-modal-body
                        .edit-container{'data-edit-comment-container-for-overtime'=>"#{overtime.id}"}
                          .form-container
                            = form_tag(edit_manager_overtime_path(overtime.id)) do
                              %label.mm-modal__label Comment
                              = text_area_tag :hr_edited_comment, overtime.hr_approval_comment, placeholder: 'Edit Comment', class: 'edit-comment'
                              %p.error-comment Comment too short
                              = submit_tag 'Save', class: 'mm-button mm-button-orange mm-button-save align-self-center', data: {"toggle" => "popover", "hint" => "", "content" => "Confirm"}
                %td.hr-table__cell.hr-table__td--text-right.actions.vacation-actions.table-td-responsive
                  -if current_user.is_hr_manager?
                    - if overtime.status.nil?
                      %span.span-responsive.btn-container
                      .vacation-actions__wrap
                        = link_to 'Confirm', hr_approve_comment_form_manager_overtimes_path(id: overtime.id), class: 'btn-icon check-icon', data: {"toggle" => "popover", "hint" => "", "content" => "Approve"}
                        = link_to 'Dismiss', hr_dismiss_comment_form_manager_overtimes_path(id: overtime.id), data: {"hint" => "", "toggle" => "popover", "content" => "Dismiss"}, class: 'btn-icon cancel-icon'
                    - else
                      %span.span-responsive.btn-container
                      - unless overtime.confirmed_by_approver? || master_cabinet?
                        .pull-right
                          %button.btn-icon.undo-icon{'data-btn-for-undo-overtime'=>"#{overtime.id}"}
                          .mm-modal-custom.undo-modal#undo-modal{'data-modal-for-undo-overtime'=>"#{overtime.id}"}
                            .modal-dialog.modal-sm
                              .modal-content
                                .mm-modal__title
                                  %h3.overtime-approval__title Cancel
                                  %button.btn-icon.cancel-icon.close-undo{type:"button", 'data-dismiss'=>"modal", 'aria-label'=>"Close"}
                                .modal-body
                                  %p.centered The status of this overtime notification will be changed back to "Pending".
                                  %p.centered Do you want to proceed?
                                  .mm-modal__buttons.mm-modal__buttons-proceed
                                    = link_to 'Proceed', hr_revert_approve_status_manager_overtime_path(id: overtime.id, params: @overtime_params), method: :post, class: "mm-button mm-button-orange"

.moc-paginate
  = paginate @overtimes if @overtimes
